/*
 * Style tweaks
 * --------------------------------------------------
 */

body {
}
.container{
	border-radius: 7px;
	border-style:groove ;

	margin-top: 200px;
	background-color: green;
	max-width: 200px;
	min-width: 200px;

}
.btn{
max-width: 40px;
min-width: 40px;
height:  35px;
border-radius: 5px;
border-width: 1px;
/*display: inline-block;	*/
}
.btn-2{
max-width: 90px;
min-width: 90px;
height:  35px;
margin-left: -12px;
border-radius: 5px;
border-width: 1px;
/*display: inline-block;	*/
}
.row{
padding: 5px;	
}
.col-xs-3{
padding: 0px;
}